@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
body {
	background: #3f3347 url(../img/pattern3.png) repeat;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #83747f;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	margin-bottom: 14px;
	line-height: 22px;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}
h1.navbar-brand_ a {
	display: inline-block;
	padding: 0;
}
h1.navbar-brand_ span {
	display: block;
	float: left;
	//padding: 19% 0 0 15px;
	color: #afd33b;
	text-transform: uppercase;
	font-size: 25px;
	font-style: italic;
	line-height: 30px;
	letter-spacing: -1px;
	//width: 45%;
	text-align: center;
}
.logo_large {
	float: left;
	padding-top: 25%;
}
h1.navbar-brand_ .logo_medium {
	display: none;
}
h2 {
	font: 48px/48px 'Gentium Basic';
	color: #afd33b;
	margin: 0 0 26px 0;
}
h3 {
	font: 30px/24px 'Gentium Basic';
	color: #afd33b;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}
h4 {
	font: bold 14px/22px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #685d65;
	margin: 0 0 9px 0;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	padding: 0;
}
.global.indent {
	padding: 141px 0 0 0;
	background: #e3dce0 url(../img/pattern4.png) repeat;
}
.center {
	text-align: center;
}
.container {
	position: relative;
}
/*-----menu-----*/
.menuBox {
	padding: 50px 0 57px 0;
	background: url(../img/pattern2.png) repeat;
	position: relative;
	z-index: 1;
}
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	float: right;
	min-height: 0;
}
nav.tm_navbar li {
	float: left;
	font-size: 14px;
	line-height: 22px;
	padding: 0 10px 3px 10px;
	margin-left: 57px;
	position: relative;
}
nav.tm_navbar li:first-child {
	margin-left: 0;
}
nav.tm_navbar li a {
	position: relative;
	padding: 0;
	font: 16px 'Trebuchet MS';
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li.active {
	border-bottom: 5px solid #afd33b;
}
nav.tm_navbar li.active > a {
	color: #ffffff;
	background: none;
}
nav.tm_navbar li:hover {
	border-bottom: 5px solid #afd33b;
}
nav.tm_navbar li:hover > a {
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar .sfHover {
	border-bottom: 5px solid #afd33b;
}
nav.tm_navbar .sfHover > a {
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
nav.tm_navbar li span {
	height: 4px;
	background: url(../img/menu-marker.png) center 0 no-repeat;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -4px;
	z-index: 0;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 110px;
	left: 0;
	top: 40px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #171717;
	padding: 21px 10px 8px 16px;
	margin: 0;
	text-align: left;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0 0 13px 0;
	padding: 0;
	display: block;
}
nav.tm_navbar .sub-menu > ul li a {
	background: none;
	padding: 0;
	margin: 0;
	float: none;
	font: 12px 'Arial';
	text-transform: uppercase;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
nav.tm_navbar .sub-menu > .submenu li span {
	display: inline-block;
	background: url(../img/menu-marker2.png) no-repeat;
	width: 6px;
	height: 7px;
	position: relative;
	left: 9px;
	top: 0;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	text-decoration: none;
	color: #afd33b !important;
	background: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	text-decoration: none;
	color: #afd33b !important;
	background: none !important;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 107px;
	left: 94px;
	top: -9px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #afd33b;
	padding: 9px 10px 0 10px;
	margin: 0;
	text-align: left;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: none;
	padding: 0;
	margin: 0;
	float: none;
	font: 12px 'Arial';
	text-transform: uppercase;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	text-decoration: none;
	color: #010101 !important;
	background: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.select-menu {
	display: none !important;
}
/*-----content-----*/
header {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 11;
	background: url(../img/pattern.png) repeat;
}
footer {
	padding: 40px 0 14px 0;
}
footer .box {
	border-right: 1px solid #494454;
	padding: 30px 0 20px 0;
}
footer .box.indent {
	border-right: none;
}
footer .title {
	font: 18px/22px 'Trebuchet MS';
	color: #dededd;
	margin-bottom: 35px;
}
footer p {
	font: 12px/18px 'Trebuchet MS';
	color: #c7c7cd;
}
footer p span {
	font-size: 18px;
	color: #eaebef;
}
footer p a {
	font: 12px/18px 'Trebuchet MS';
	color: #c7c7cd;
}
footer p a.lnk {
	font-size: 18px;
	color: #eaebef;
}
footer p a:hover {
	color: #afd33b;
}
footer p em {
	font-style: normal;
}
footer .txt {
	font: 18px/22px 'Trebuchet MS';
	color: #eaebef;
}
footer a.lnk {
	font: 18px/22px 'Trebuchet MS';
	color: #eaebef;
}
footer a:hover {
	color: #afd33b;
}
#toTop {
	display: none;
	width: 42px;
	height: 42px;
	background: url(../img/top.png) 0 top no-repeat;
	position: fixed;
	margin-right: -640px !important;
	right: 50%;
	bottom: 165px;
	z-index: 999;
}
#toTop:hover {
	background: url(../img/top.png) 0 bottom no-repeat;
}
.address_icon {
	padding: 0;
	margin: 2px 0 0 0;
	float: right;
	list-style: none;
}
.address_icon li {
	float: left;
	margin-left: 45px;
	font: 12px 'Trebuchet MS';
	color: #b0b0b0;
}
.address_icon li:first-child {
	margin-left: 0;
}
.address_icon li img {
	float: left;
	margin: 2px 10px 0 0;
}
.address_icon li a {
	font: 12px 'Trebuchet MS';
	color: #b0b0b0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.address_icon li a:hover {
	color: #f35100;
}
.follow-box {
	background: #0b0f13;
	overflow: hidden;
	padding: 34px 0 34px 0;
}
.follow-box p {
	float: left;
	font: 14px 'Arial';
	color: #c5c4c4;
	margin: 4px 0 0 0;
}
.follow-box p > a {
	font: 14px 'Arial';
	color: #e22004;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.follow-box p > a:hover {
	color: #ffffff;
}
.follow_icon {
	padding: 0;
	margin: 0 0 0 46px;
	float: right;
	list-style: none;
}
.follow_icon li {
	display: inline-block;
	margin-left: 13px;
}
.follow_icon li:first-child {
	margin-left: 0;
}
.follow_icon li a {
	opacity: 0.82;
	filter: alpha(opacity=82);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	display: block;
}
.follow_icon li a:hover {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.follow_icon.indent {
	float: none;
}
.follow_icon.indent li {
	margin-left: 21px;
}
.follow_icon.indent li:first-child {
	margin-left: 0;
}
.follow_icon.indent li a {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.follow_icon.indent li a:hover {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.follow_icon2 {
	padding: 0;
	margin: 0;
	list-style: none;
}
.follow_icon2 li {
	float: left;
	margin-left: 17px;
}
.follow_icon2 li:first-child {
	margin-left: 0;
}
.follow_icon2 li a {
	opacity: 0.82;
	filter: alpha(opacity=82);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	display: block;
}
.follow_icon2 li a:hover {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.bg_pic {
	background: url(../img/bg_pic2.jpg) center top no-repeat;
	height: 285px;
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}
.priv-box {
	margin-bottom: 100px;
}
.blog-box {
	padding: 63px 0 40px 0;
	position: relative;
}
.comment-box {
	padding: 11px 0 26px 0;
	background: #fed46f;
}
.comment-box figure {
	border-radius: 100%;
	float: left;
	margin-right: 45px;
	border: 3px solid #fee097;
}
.comment-box figure img {
	border-radius: 100%;
}
.comment-box .extra-wrap {
	padding-top: 15px;
}
.comment-box p {
	font-size: 14px;
	font-style: italic;
	color: #2e2e2e;
	margin-bottom: 0;
}
.comment-box p a {
	font: bold italic 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2e2e2e;
}
.comment-box p a:hover {
	text-decoration: underline;
}
.block-box {
	padding: 37px 0 29px 0;
	background: #3f3f3f;
}
.block-box p {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 0;
}
.trainerBox {
	margin-bottom: 30px;
	position: relative;
	display: block;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure a {
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.trainerBox figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.trainerBox figure a:hover img {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.trainerBox figure img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	outline: 1px solid transparent;
}
.testimBox {
	padding: 50px 0 74px 0;
	background: url(../img/pattern3.png) repeat;
	border-bottom: 1px solid #deded7;
}
.testimBox h2 {
	color: #ffffff;
}
.links-box {
	background: url(../img/bg_pic1.jpg) center top fixed no-repeat;
	padding: 57px 0 33px 0;
	margin-bottom: 58px;
}
.links-box h3 {
	color: #ffffff;
}
.links-box h3 > span {
	background: #ffffff;
}
.links-box h5 {
	color: #ffffff;
}
.links-box p {
	color: #ffffff !important;
}
.latest-box {
	background: url(../img/bg_pic1.jpg) center top fixed no-repeat;
	padding: 57px 0 48px 0;
	margin-bottom: 58px;
}
.latest-box h3 {
	color: #ffffff;
}
.latest-box h3 > span {
	background: #ffffff;
}
.latest-box h5 {
	color: #ffffff;
}
.latest-box p {
	color: #ffffff;
}
.servicesBox {
	padding: 68px 0 20px 0;
	border-top: 1px solid #eeefef;
	background: #ffffff;
}
.servicesBox .col-lg-4 {
	margin-bottom: 65px;
}
.servicesBox .col-lg-4 p {
	margin-bottom: 27px;
}
.servicesBox hr {
	border-top: 1px solid #eee;
	margin: 0;
}
.overviewBox {
	padding: 83px 0 33px 0;
	background: #ffffff;
}
.gallery-box {
	padding-top: 46px;
	padding-bottom: 46px;
}
.gallery-box .title {
	color: #ffffff;
	font: 48px 'Gentium Basic';
	margin-bottom: 25px;
}
.blogBox {
	margin-bottom: 48px;
}
.about-box {
	text-align: center;
	margin-bottom: 83px;
}
.about-box > div {
	border-top: 1px solid #eee;
	padding: 63px 0 0 0;
}
.center-box {
	padding: 58px 0 20px 0;
	background: url(../img/bg_pic1.jpg) center top fixed no-repeat;
	text-align: center;
}
.center-box figure {
	margin-bottom: 37px;
}
.center-box figure img {
	width: 100%;
	border-radius: 100%;
}
.center-box .title {
	font: bold 30px 'Gentium Basic';
	color: #ffffff;
	margin-bottom: 0;
}
.center-box p {
	font: bold 14px/24px 'Gentium Basic';
	color: #ffffff;
	margin-bottom: 16px;
}
.center-box .col-lg-3 {
	margin-bottom: 30px;
}
.newsform-box {
	background: url(../img/bg_pic2.jpg) center top fixed no-repeat;
	padding: 52px 0;
	margin-bottom: 60px;
}
.newsform-box p {
	font: 18px 'Istok Web';
	color: #ffffff;
	margin-bottom: 0;
	float: left;
}
.newsform-box p strong {
	font-size: 24px;
	color: #e22004;
}
.follow_list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.follow_list li {
	margin-bottom: 23px;
	display: block;
}
.follow_list li span {
	float: left;
	font-size: 25px;
	color: #ce3b28;
	margin-right: 16px;
}
.follow_list li a {
	font: 18px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.follow_list li a:hover {
	color: #ce3b28;
}
.who-box .col-lg-4 {
	margin-bottom: 70px;
}
.advice-box {
	background: #f8f8f8;
	padding-top: 58px;
	padding-bottom: 54px;
}
.headlines-box {
	background: #f8f8f8;
	padding-top: 58px;
	padding-bottom: 54px;
}
.banner-box {
	margin-top: 8px;
}
.banner-box .col-lg-6 {
	margin-bottom: 30px;
}
.banner-box figure a {
	display: block;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.banner-box figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.banner-box figure img {
	width: 100%;
}
.banner-box hr {
	margin: 80px 0 0 0;
	border-top: 1px solid #cdcdcd;
}
.advantages-box {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 39px;
}
.advantages-box .col-lg-4 {
	margin-bottom: 80px;
}
.values-box p {
	color: #737885;
}
.searchBox {
	background: #f8f8f8;
	padding: 58px 0 40px 0;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 39px;
}
.welcome-box {
	background: #e3dce0 url(../img/pattern4.png) repeat;
	padding: 45px 0;
	text-align: center;
}
.welcome-box .title {
	font: 48px 'Times New Roman';
	color: #afd33b;
	text-transform: uppercase;
	margin-bottom: 2px;
}
.welcome-box .description {
	font: 24px 'Times New Roman';
	color: #4f4f4f;
	text-transform: uppercase;
}
.welcome-box p {
	font: 14px/22px 'Times New Roman';
	color: #83747f;
	margin-bottom: 12px;
}
.services-box {
	background: url(../img/pattern3.png) repeat;
	padding: 82px 0 20px 0;
}
.services-box h2 {
	color: #ffffff;
}
.services-box h4 {
	color: #e4e1df;
}
.all-box {
	padding: 84px 0 90px 0;
}
.events-box {
	background: #e3dce0 url(../img/pattern4.png) repeat;
	padding: 19px 0 14px 0;
	margin-top: 53px;
}
.events-box .box {
	border-right: 1px solid #ccccc5;
	padding: 30px 0;
}
.events-box .box .description {
	font: 18px/22px 'Gentium Basic';
	color: #2d2d2d;
	text-transform: uppercase;
}
.events-box .box .description > span {
	font-size: 24px;
}
.events-box .box.indent {
	border-right: none;
}
.events-box .box h3 {
	color: #343434;
}
/*-----carousel-----*/
.carousel-box {
	margin-bottom: 27px;
	text-align: center;
}
.list_carousel2.responsive {
	position: relative;
	width: auto;
	margin: 0;
}
.list_carousel2 #foo2 {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	cursor: default;
}
.list_carousel2 #foo2 > li {
	padding: 0;
	float: left;
	cursor: default;
	margin-right: 30px;
	text-align: center;
}
.list_carousel2 #foo2 > li figure {
	margin: 0 0 9px 0;
	height: 70px;
	overflow: hidden;
	position: relative;
}
.list_carousel2 #foo2 > li figure img {
	width: 100%;
}
.list_carousel2 #foo2 > li figure .active {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
}
.list_carousel2 #foo2 > li a {
	font: bold 13px 'Trebuchet MS';
	color: #f77105;
	margin-bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.list_carousel2 #foo2 > li a:hover {
	text-decoration: underline;
}
.list_carousel2 #foo2 > li:hover .active {
	display: block;
}
.list_carousel2 #foo2 > li:hover a {
	opacity: 1;
	filter: alpha(opacity=100);
}
.list_carousel2.responsive .caroufredsel_wrapper {
	cursor: default !important;
	margin-bottom: 25px !important;
}
.list_btn2 span {
	float: left;
	margin-top: 1px;
	padding: 0 6px;
	font: bold 18px 'Gentium Basic';
	color: #ac9ea8;
}
.list_btn2 .prev, .list_btn2 .next {
	display: inline-block;
	cursor: pointer;
	float: left;
	font: bold 18px 'Gentium Basic';
	color: #ac9ea8;
	margin: 0;
}
.list_btn2 .prev {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	left: 0;
}
.list_btn2 .next {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	left: 50px;
}
.list_btn2 .prev:hover {
	color: #e7d9e3;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list_btn2 .next:hover {
	color: #e7d9e3;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*------------------isotop items------------------*/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	overflow: visible;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.isotope-box {
	margin-left: -30px;
}
.element {
	width: 270px;
	height: auto !important;
	display: block;
	position: relative;
	border: none;
	margin: 0 !important;
	padding: 0 0 60px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.isotope .isotope-item {
	margin: 20px 0 0 0;
}
#options {
	margin-bottom: 28px;
}
#options .pagination {
	margin: 0;
}
#filters li {
	display: inline-block;
	margin-right: 45px !important;
}
#filters {
	position: relative;
}
#filters li {
	float: left;
}
#filters li a {
	padding: 0;
	background: none;
	border: none;
	font: 20px 'Gentium Basic';
	color: #80767c;
	margin: 0;
	text-decoration: none;
}
#filters li a:hover {
	background: none;
	border: none;
	text-decoration: none;
	color: #afd33b !important;
}
#filters.pagination li a.selected {
	color: #afd33b !important;
	background: none !important;
	border: none;
	text-decoration: none;
}
/*-----thumbs-----*/
.thumb-pad00 {
	margin: 0;
	background: #e3dce0 url(../img/pattern4.png) repeat;
}
.thumb-pad00 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad00 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	text-align: left;
}
.thumb-pad00 .thumbnail .caption p {
	margin-bottom: 14px;
}
.thumb-pad00 figure {
	margin: 0 0 31px 0;
}
.thumb-pad00 figure img {
	width: 100%;
}
.thumb-pad00 figure a {
	position: relative;
	display: block;
	overflow: hidden;
}
.thumb-pad00 figure a em {
	position: absolute;
	top: -400px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad00 figure a em span {
	background: url(../img/zoom.png) center center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.thumb-pad00 figure a:hover em {
	top: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad0 {
	margin: 0 0 45px 0;
	overflow: hidden;
}
.thumb-pad0:hover figure img {
	margin-top: -52px;
}
.thumb-pad0:hover .btn-default.btn4 {
	color: #495060 !important;
}
.thumb-pad0 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad0 .thumbnail .caption {
	padding: 0 0 0 0;
	overflow: hidden;
}
.thumb-pad0 .thumbnail .caption p {
	margin: 0 0 14px 0;
}
.thumb-pad0 .thumbnail .caption .title {
	font: 22px/24px 'Inder';
	color: #495060;
	margin-bottom: 9px;
}
.thumb-pad0 figure {
	margin: 0 9px 0 0;
	float: left;
	width: 52px;
	height: 52px;
	overflow: hidden;
}
.thumb-pad1-1 {
	margin: 0 0 40px;
	overflow: hidden;
}
.thumb-pad1-1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad1-1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1-1 .thumbnail .caption h5 {
	margin-bottom: 15px;
}
.thumb-pad1-1 figure {
	margin: 0 0 20px 0;
}
.thumb-pad1-1 figure img {
	width: 100%;
}
.thumb-pad1 {
	margin: 0 0 40px;
	overflow: hidden;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption h5 {
	margin-bottom: 15px;
}
.thumb-pad1 .thumbnail .caption p {
	color: #737885;
}
.thumb-pad1 figure {
	margin: 0 31px 0 0;
	float: left;
}
.thumb-pad2 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad2 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad2 .thumbnail .caption p {
	color: #737885;
}
.thumb-pad2 figure {
	margin: 0 0 13px 0;
}
.thumb-pad2 figure img {
	width: 100%;
}
.thumb-pad3 {
	overflow: hidden;
	margin-bottom: 40px;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	color: #83747f;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption h5 {
	margin-bottom: 7px;
}
.thumb-pad3 figure {
	margin: 0 0 32px 0;
}
.thumb-pad3 figure img {
	width: 100%;
}
.popular-box {
	padding-bottom: 18px;
	margin-bottom: 44px;
	border-bottom: 1px solid #e8e8e8;
}
.popular-box.indent {
	border-bottom: none;
	margin-bottom: 56px;
	padding-bottom: 0;
}
.thumb-pad4 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad4 figure {
	margin: 0 0 31px 0;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 {
	margin-bottom: 22px;
}
.thumb-pad5 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad5 .thumbnail .name {
	font: italic 18px 'Istok Web';
	color: #1e2731;
	margin-left: 30px;
	margin-bottom: 0;
}
.thumb-pad5 .thumbnail .name a {
	font-weight: bold;
	font-style: normal;
	color: #1e2731;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad5 .thumbnail .name a:hover {
	color: #e22004;
}
.thumb-pad5 .thumbnail .caption {
	padding: 42px 20px 24px 20px;
	color: #83747f;
	margin-bottom: 38px;
	border: 2px solid #cecece;
	position: relative;
}
.thumb-pad5 .thumbnail .caption i {
	position: absolute;
	display: inline-block;
	top: 15px;
	left: 22px;
	width: 26px;
	height: 18px;
	background: url(../img/quote_left2.png) no-repeat;
}
.thumb-pad5 .thumbnail .caption strong {
	position: absolute;
	display: inline-block;
	bottom: 27px;
	right: 60px;
	width: 26px;
	height: 18px;
	background: url(../img/quote_right2.png) no-repeat;
}
.thumb-pad5 .thumbnail .caption em {
	position: absolute;
	display: block;
	bottom: -33px;
	left: 30px;
	width: 35px;
	height: 33px;
	background: url(../img/tr.png) no-repeat;
}
.thumb-pad5 .thumbnail .caption p {
	font: italic 16px/28px 'Istok Web';
	margin-bottom: 0;
}
.thumb-pad6 {
	overflow: hidden;
}
.thumb-pad6 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad6 .thumbnail a {
	font: bold 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #e4e1df;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad6 .thumbnail a:hover {
	color: #afd33b;
}
.thumb-pad6 .thumbnail p {
	color: #e4e1df;
	font-style: italic;
	margin-bottom: 7px;
}
.thumb-pad6 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #83747f;
}
.thumb-pad6 .thumbnail figure {
	float: left;
	margin: 7px 13px 0 0;
}
/*-----btn-----*/
.btn-default.btn1 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0 18px;
	font: bold 13px/36px 'Trebuchet MS';
	margin: 0;
	text-shadow: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 5px;
	background: #afd33b;
	display: inline-block;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn1:hover {
	color: #3d3744;
	background: #ffffff;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2 {
	box-shadow: none;
	position: relative;
	text-decoration: underline !important;
	padding: 0;
	font: 18px 'Gentium Basic';
	margin: 0;
	text-shadow: none;
	color: #afd33b;
	border-radius: 0;
	background: none;
	display: inline-block;
}
.btn-default.btn2:hover {
	color: #afd33b;
	background: none;
	text-decoration: none !important;
}
.btn-default.btn3 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0 31px;
	font: 14px/34px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	border-radius: 0;
	color: #ffffff;
	text-transform: uppercase;
	background: #afd33b;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn3:hover {
	color: #ffffff;
	background: #655f67;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: 18px 'Inder';
	margin: 0;
	text-shadow: none;
	color: #f08211;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4 > span {
	background: url(../img/more_arrow.png) center 0 no-repeat;
	width: 6px;
	height: 5px;
	display: inline-block;
	position: relative;
	top: -2px;
}
.btn-default.btn4:hover {
	color: #495060;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn5 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: 18px 'Inder';
	margin: 0;
	text-shadow: none;
	color: #495060;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn5 > span {
	background: url(../img/more_arrow.png) center 0 no-repeat;
	width: 6px;
	height: 5px;
	display: inline-block;
	position: relative;
	top: -2px;
}
.btn-default.btn5:hover {
	color: #f08211;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn6 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0 32px;
	font: 14px/34px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	text-transform: uppercase;
	color: #ffffff;
	background: #9f9f9f;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn6:hover {
	color: #ffffff;
	background: #f08211;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----list-----*/
.list1-1 {
	margin: 0 0 87px 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list1-1.indent li {
	border-bottom: 1px solid #bec0c3;
	background: url(../img/list_arrow2.png) left 7px no-repeat;
}
.list1-1.indent li a {
	color: #ffffff;
}
.list1-1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 8px;
	padding: 0 0 9px 14px;
	border-bottom: 1px solid #dfdfdf;
	background: url(../img/list_arrow.png) left 7px no-repeat;
}
.list1-1 li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.list1-1 li a {
	font: 12px 'Arial';
	color: #5f6775;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1-1 li a:hover {
	color: #e22004;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.list1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 18px;
}
.list1 li p {
	margin-top: 0;
}
.list1 li h4 {
	margin-bottom: 5px;
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list2 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 6px;
	padding-left: 20px;
	background: url(../img/list_arrow.png) left 3px no-repeat;
}
.list2 li p {
	margin-bottom: 0;
}
.list2 li a {
	color: #e4e1df;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list2 li a:hover {
	color: #afd33b;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list3 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 13px;
}
.list3 li a {
	font: 18px/18px 'Istok Web';
	color: #1e2731;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list3 li a:hover {
	color: #e22004;
}
.list3 li p {
	margin-bottom: 0;
	margin-top: 14px;
}
.list3 li .extra-wrap {
	padding-top: 8px;
}
.list3 li .badge {
	padding: 0;
	margin: 0;
	float: left;
	margin-right: 9px;
	display: inline-block;
	color: #ffffff;
	font: bold 24px/52px 'Istok Web';
	background: #e22004;
	border: none;
	width: 52px;
	height: 52px;
	border-radius: 100%;
	text-align: center;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list6 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 22px;
}
.list6 li .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	background: none;
	text-align: center;
	width: 35px;
	float: left;
	border: none;
	margin-right: 10px;
}
.list6 li .badge time {
	font: bold 24px/21px 'Istok Web';
	color: #e4351c;
}
.list6 li .badge time span {
	display: block;
	font: bold 18px/18px 'Istok Web';
	color: #e4351c;
	margin-top: 0;
}
.list6 li p {
	margin-bottom: 0;
	margin-top: 14px;
	color: #737885;
}
.list6 li a {
	font: 18px/18px 'Istok Web';
	color: #1e2731;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list6 li a:hover {
	color: #e4351c;
}
.list8 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list8 li {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 25px;
}
.list8 li h5 {
	margin-bottom: 5px;
}
/*-----search-----*/
#search-404 {
	position: relative;
	margin: 33px 0 0 0;
	overflow: hidden;
	width: 298px;
}
#search-404 a {
	position: absolute;
	top: 10px;
	right: 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
#search-404 a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 267px;
	outline: none;
	border: 1px solid #e7e7e7;
	background: #fefefe;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #83747f;
	padding: 10px 14px;
	height: 41px;
	resize: none;
}
#search {
	margin: 28px 0 0 0;
	position: relative;
	border-radius: 38px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	display: inline-block;
	width: 213px;
	float: right;
}
#search a {
	position: absolute;
	float: left;
	top: 2px;
	right: 11px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#search a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	width: 215px;
	outline: none;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	float: left;
	color: #83747f;
	background: none;
	height: 26px;
	padding: 3px 0 9px 20px;
	resize: none;
	overflow: hidden;
}
/*-----map-----*/
.map-box {
	margin: 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
	position: relative;
}
.map-box iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 296px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.map {
	margin: 0 0 100px 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 486px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.info p {
	margin-bottom: 0;
	color: #e4e1df;
}
.info p span {
	width: 70px;
	display: inline-block;
}
.info p a {
	color: #e4e1df;
}
.info p a:hover {
	color: #afd33b;
}
.err-box {
	padding-top: 5px;
}
.errorBox {
	padding-bottom: 100px;
}
.errorBox .title {
	font: bold 186px/166px 'Gentium Basic';
	color: #afd33b;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.errorBox .description {
	font: bold 74px/74px 'Gentium Basic';
	color: #83747f;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.errorBox p {
	font-size: 20px;
	line-height: 24px;
	color: #83747f;
}
/*-----form-----*/
.formBox {
	background: #3f3347 url(../img/pattern3.png) repeat;
	padding: 50px 0 74px 0;
	background: url(../img/pattern3.png) repeat;
	border-bottom: 1px solid #deded7;
}
.formBox h2 {
	color: #ffffff;
}
.formBox h4 {
	color: #e4e1df;
}
#contact-form {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	text-align: left;
}
#contact-form label {
	position: relative;
	display: block;
	min-height: 51px;
	margin: 0;
	font-weight: normal;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #e4e1df;
}
#contact-form label span {
	margin-bottom: 2px;
	display: block;
	color: #e4e1df;
}
#contact-form .holder {
	overflow: hidden;
}
.form-div-1, .form-div-2, .form-div-3 {
	float: left;
	width: 249px;
	margin-right: 10px;
}
.form-div-3 {
	margin-right: 0;
}
#contact-form ._placeholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 10px 14px;
	border-radius: 0;
	display: block;
}
#contact-form ._placeholder.focused {
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: none;
}
#contact-form ._placeholder.hidden {
	display: none;
}
#contact-form input, #contact-form textarea {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #262626;
	background: url(../img/pattern5.png) repeat;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #e4e1df;
	padding: 10px 14px;
	height: 41px;
	resize: none;
}
#contact-form textarea {
	height: 117px;
	margin-bottom: 20px;
}
#contact-form .error-message, #contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px 'Arial';
	color: #ffffff;
	text-transform: none;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 5px;
	top: 2px;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	line-height: 48px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding: 0;
}
#contact-form.success .success-message {
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #625f6c;
	background: url(../img/pattern5.png) repeat;
	border-radius: 0;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 36px;
	color: #e4e1df;
	padding: 0 14px;
	height: 41px;
	resize: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btns .btn3 {
	float: left;
	margin-right: 14px;
}
.btns p {
	float: left;
	margin: 6px 0 0 0;
	color: #e4e1df;
}
.mail {
	color: #afd33b;
	font: 18px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
.mail:hover {
	color: #685d65;
	text-decoration: underline;
}
/*----*/
#contact-form2 {
	position: relative;
	overflow: hidden;
	float: right;
}
#contact-form2 label {
	position: relative;
	display: block;
	margin: 0;
	font-weight: normal;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #ffffff;
	text-align: left;
}
#contact-form2 label span {
	margin-bottom: 2px;
	display: block;
	color: #ffffff;
}
#contact-form2 .holder {
	overflow: hidden;
	float: left;
}
#contact-form2 .form-div-1, #contact-form2 .form-div-2 {
	float: left;
	width: 189px;
}
#contact-form2 .form-div-1 {
	background: url(../img/form_icon1.png) 15px center no-repeat;
	margin-right: 23px;
}
#contact-form2 .form-div-2 {
	background: url(../img/form_icon2.png) 15px center no-repeat;
	margin-right: 5px;
}
#contact-form2 ._placeholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 10px 14px 10px 42px;
	border-radius: 0;
	display: block;
}
#contact-form2 ._placeholder.focused {
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: none;
}
#contact-form2 ._placeholder.hidden {
	display: none;
}
#contact-form2 input, #contact-form2 textarea {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: none;
	background: #b7babe;
	background: rgba(255, 255, 255, 0.27);
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #ffffff;
	padding: 10px 14px 10px 42px;
	height: 39px;
	resize: none;
}
#contact-form2 textarea {
	height: 336px;
	margin-bottom: 34px;
}
#contact-form2 .error-message, #contact-form2 .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px 'Arial';
	color: #e22004;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 5px;
	top: 2px;
}
#contact-form2 .invalid .error-message, #contact-form2 .empty .empty-message {
	height: 20px;
}
#contact-form2 .success-message {
	line-height: 48px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding: 0;
}
#contact-form2.success .success-message {
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: none;
	background: #b7babe;
	border-radius: 0;
	font: 14px 'Times New Roman', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 39px;
	color: #ffffff;
	padding: 0 14px;
	height: 39px;
	resize: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (max-width: 1220px) {
	h1.navbar-brand_ span {
		display: none;
	}
}
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 h1.navbar-brand_ {
 width: 100%;
 float: none;
 text-align: center;
}
 h1.navbar-brand_ .logo_large {
 display: none;
}
 h1.navbar-brand_ .logo_medium {
 display: block;
 padding-top: 25px;
}
 .follow-box {
 padding: 170px 0 34px 0;
 text-align: center;
}
 .follow-box .follow_icon {
 float: none;
 display: block;
 text-align: center;
 margin: 0;
}
 .follow-box .follow_icon li {
 float: none;
 display: inline-block;
 margin-bottom: 20px;
}
 .follow-box .address_icon {
 float: none;
 overflow: hidden;
 display: inline-block;
}
 .center-box {
 background: url(../img/bg_pic1.jpg) center top no-repeat;
}
 .menuBox {
 padding: 30px 0;
}
 .menuBox nav.tm_navbar {
 float: none;
 text-align: center;
}
 .menuBox nav.tm_navbar li {
 float: none;
 display: inline-block;
}
 .bg_pic {
 margin-top: -90px;
 position: relative;
}
 .newsform-box {
 background: url(../img/bg_pic2.jpg) center top no-repeat;
 text-align: center;
}
 .newsform-box p {
 float: none;
 margin-bottom: 25px;
}
 .newsform-box #contact-form2 {
 float: none;
 width: 100%;
}
 .newsform-box #contact-form2 .form-div-1,  .newsform-box #contact-form2 .form-div-2 {
 width: 560px;
}
 .newsform-box #contact-form2 .form-div-1 {
 margin-right: 15px;
}
 .newsform-box #contact-form2 .holder {
 float: none;
 margin-bottom: 15px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 #contact-form label {
 min-height: 50px;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 #contact-form.success .success-message {
 height: 141px;
 line-height: 141px;
}
 .errorBox img {
 width: 100%;
}
 .errorBox .title {
 font-size: 80px;
 line-height: 80px;
}
 .errorBox .description {
 font-size: 55px;
 line-height: 55px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 h1.navbar-brand_ {
 width: 100%;
 float: none;
 text-align: center;
}
 h1.navbar-brand_ .logo_large {
 display: none;
}
 h1.navbar-brand_ .logo_medium {
 display: block;
}
 .global.indent {
 padding: 60px 0 0 0;
}
 .margBot {
 margin-bottom: 60px !important;
}
 .follow-box {
 padding: 170px 0 34px 0;
 text-align: center;
}
 .follow-box .follow_icon {
 margin: 0;
 float: none;
 display: block;
 text-align: center;
}
 .follow-box .follow_icon li {
 float: none;
 display: inline-block;
 margin-bottom: 20px;
}
 .follow-box .address_icon {
 float: none;
 overflow: hidden;
 display: inline-block;
}
 .menuBox {
 padding: 30px 0;
}
 .menuBox nav.tm_navbar {
 float: none;
 text-align: center;
}
 .menuBox nav.tm_navbar li {
 float: none;
 display: inline-block;
}
 .bg_pic {
 margin-top: -90px;
 position: relative;
}
 .center-box {
 background: url(../img/bg_pic1.jpg) center top no-repeat;
}
 .newsform-box {
 background: url(../img/bg_pic2.jpg) center top no-repeat;
 text-align: center;
}
 .newsform-box p {
 float: none;
 margin-bottom: 25px;
}
 .newsform-box #contact-form2 {
 float: none;
 width: 100%;
}
 .newsform-box #contact-form2 .form-div-1,  .newsform-box #contact-form2 .form-div-2 {
 width: 100%;
 margin-right: 0;
 margin-bottom: 15px;
 float: none;
}
 .newsform-box #contact-form2 .holder {
 float: none;
 margin-bottom: 0;
}
 #contact-form2.success .success-message {
 height: 93px;
 line-height: 93px;
}
 .thumb-pad0 {
 margin: 0 0 30px 0;
 overflow: hidden;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 #contact-form.success .success-message {
 height: 141px;
 line-height: 141px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 float: none;
 width: 100%;
 margin-right: 0;
}
 #contact-form label {
 min-height: 50px;
}
 .categories-box {
 margin-bottom: 40px;
}
 .list1 li .title br {
 display: none;
}
 #search {
 float: none;
}
 .servicesBox .col-lg-4 {
 margin-bottom: 0;
}
 .overviewBox {
 padding: 40px 0 33px 0;
}
 #options {
 margin-bottom: 20px;
}
 .thumb-pad1 .thumbnail .caption a br {
 display: none;
}
 .thumb-pad1 .thumbnail .caption {
 overflow: visible;
}
 .map-box {
 margin-top: 30px;
}
 .map-box figure img {
 width: auto;
}
 .errorBox img {
 width: 100%;
}
 .testimBox .col-lg-3 {
 margin-bottom: 40px;
}
 .errorBox .title {
 font-size: 80px;
 line-height: 80px;
}
 .errorBox .description {
 font-size: 55px;
 line-height: 55px;
}
 .events-box .box {
 border-right: none;
}
 footer .box {
 border-right: none;
}
 .all-box {
 padding: 50px 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 h1.navbar-brand_ {
 width: 100%;
 float: none;
 text-align: center;
}
 h1.navbar-brand_ .logo_large {
 display: none;
}
 h1.navbar-brand_ .logo_medium {
 display: block;
}
 .global.indent {
 padding: 60px 0 0 0;
}
 .margBot {
 margin-bottom: 60px !important;
}
 .follow-box {
 padding: 175px 0 34px;
 text-align: center;
}
 .follow-box .follow_icon {
 float: none;
 display: block;
 text-align: center;
 margin: 0;
}
 .follow-box .follow_icon li {
 float: none;
 display: inline-block;
 margin-bottom: 20px;
}
 .follow-box .address_icon {
 float: none;
 overflow: hidden;
 text-align: center;
 display: block;
}
 .follow-box .address_icon li {
 float: none;
 display: block;
 text-align: center;
 margin: 0 0 10px 0;
}
 .follow-box .address_icon li img {
 display: none;
}
 .menuBox {
 padding: 30px 0;
}
 .menuBox nav.tm_navbar {
 float: none;
 text-align: center;
}
 .menuBox nav.tm_navbar li {
 float: none;
 display: inline-block;
}
 .bg_pic {
 margin-top: -90px;
 position: relative;
 height: 200px;
}
 nav.tm_navbar .nav {
 display: none;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #afd33b;
 background: #afd33b;
 color: #ffffff;
 cursor: pointer;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .btn-default.btn1 {
 padding: 0 23px;
 font-size: 14px;
 line-height: 32px;
 font-weight: normal;
}
 .follow-box p {
 float: none;
 margin-bottom: 15px;
}
 .follow-box .follow_icon {
 float: none;
}
 .center-box {
 background: none;
}
 .newsform-box {
 background: url(../img/bg_pic2.jpg) center top no-repeat;
 text-align: center;
}
 .newsform-box p {
 float: none;
 margin-bottom: 25px;
}
 .newsform-box #contact-form2 {
 float: none;
 width: 100%;
}
 .newsform-box #contact-form2 .form-div-1,  .newsform-box #contact-form2 .form-div-2 {
 width: 100%;
 margin-right: 0;
 margin-bottom: 15px;
 float: none;
}
 .newsform-box #contact-form2 .holder {
 float: none;
 margin-bottom: 0;
}
 #contact-form2.success .success-message {
 height: 93px;
 line-height: 93px;
}
 .thumb-pad2 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .links-box {
 padding-bottom: 0;
}
 .links-box .col-lg-8 {
 margin-bottom: 50px;
}
 .map-box {
 margin-top: 30px;
}
 .map-box figure img {
 width: auto;
}
 .errorBox img {
 width: 100%;
}
 .thumb-pad0 {
 margin: 0 0 30px 0;
 overflow: hidden;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 .testimBox .col-lg-3 {
 margin-bottom: 40px;
}
 #contact-form.success .success-message {
 height: 141px;
 line-height: 141px;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .map iframe {
 height: 300px;
}
 .info {
 margin-bottom: 50px;
}
 #contact-form label {
 min-height: 50px;
}
 .proffesional-box {
 padding: 70px 0;
}
 .proffesional-box .title {
 font-size: 21px;
}
 .privacyBox {
 margin-bottom: 50px;
}
 .pict {
 background: none;
 padding: 0 0 90px 0;
}
 .categories-box {
 margin-bottom: 40px;
}
 .block-box article {
 margin-bottom: 50px;
}
 .list1 li .title br {
 display: none;
}
 .thumb-pad4 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .thumb-pad4 .thumbnail .caption {
 overflow: visible;
}
 .thumb-pad3 figure {
 margin: 0 20px 0 0;
 float: left;
}
 #search {
 float: none;
}
 .thumb-pad1 {
 margin-bottom: 20px;
}
 .servicesBox .col-lg-4 {
 margin-bottom: 0;
}
 .overviewBox {
 padding: 40px 0 33px 0;
}
 .thumb-pad1 .thumbnail .caption a br {
 display: none;
}
 .thumb-pad1-1 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .errorBox .title {
 font-size: 80px;
 line-height: 80px;
}
 .errorBox .description {
 font-size: 55px;
 line-height: 55px;
}
 .events-box .box {
 border-right: none;
}
 footer .box {
 border-right: none;
}
 .services-box {
 padding: 50px 0 20px 0;
}
 .all-box {
 padding: 50px 0;
}
 .all-box .col-lg-4 {
 margin-bottom: 30px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad4 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1-1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .latest-box {
 background: #495060;
}
 .thumb-pad3 figure {
 margin: 0 0 20px 0;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .topic-box {
 width: 100%;
 float: none;
}
 .thumb-pad2 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1 .thumbnail .caption {
 overflow: visible;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .baner-box {
 width: 100%;
 float: none;
}
 .trainerBox {
 width: 50%;
}
 .overviewBox .col-xs-6 {
 width: 100%;
 float: none;
}
 .projects-box .col-xs-6 {
 width: 100%;
 float: none;
}
 .thumb-pad1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .links-box .thumb-pad1 figure img {
 width: 100%;
}
 #search-404 {
 width: 283px;
}
 #search-404 input {
 width: 247px;
}
 .errorBox .title {
 font-size: 40px;
 line-height: 40px;
}
 .errorBox .description {
 font-size: 30px;
 line-height: 35px;
}
 .center-box .col-lg-3 {
 width: 100%;
 float: none;
}
 .events-box .col-lg-3 {
 width: 100%;
 float: none;
}
 footer .col-lg-3 {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .trainerBox {
 width: 100%;
 float: none;
}
 .about-box .col-xs-6 {
 width: 100%;
 float: none;
}
 .thumb-pad1 figure img {
 width: 100%;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 100px;
}
.padBot {
	padding-bottom: 0;
}
.qwerty {
	position: relative;
	z-index: 999;
	background: #3f3347 url(../img/pattern3.png) repeat;
}
.camera-caption .title {color:#afd33b !important;}. Where XXX is your color.
nav.tm_navbar li {
margin-right: -40px !important;}
@media screen and (min-width: 1000px){
.nav.sf-menu.clearfix.sf-js-enabled.sf-arrows {
margin-right: -90px !important;}}
/*Core variables and mixins*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
